*.json
*.vsidx
*.lock
*.suo
*.wsuo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.sqlite
*.filters
*.user
*.obj
*.exe
*.recipe
*.ilk
*.log
*.pdb
*.tlog
*.lastbuildstate
*.idb
/x64/Release/*.iobj
/x64/Release/*.ipdb
/x64/Release/*.txt
